#shang {
	background: #25438ccc;
	height: 100px
}

.shang-box {
	color: white;
	font-size: 20px;
	width: 500px;
	position: absolute;
	margin-top: 10px;
	left: 20px;
}

.shang-box1 {
	width: 700px;
	position: absolute;
	margin-top: 45px;
	color: white;
	font-size: 15px;
	left: 20px;
}

.shang-box1-a {
	margin-right: 60px;
}

.shang-box2 {
	width: 250px;
	position: absolute;
	left: 1100px;
	top: 34px;
}

.shang-box2>button {
	height: 40px;
}

.zhong-box1 {
	width: 95%;
	background: white;
	height: 70px;
	margin-right: 20px;
	position: absolute;
	left: 2.5%;
	top: 130PX;
}

.zhong-box1-a {
	position: absolute;
	top: 25px;
	left: 45px;
}

.zhong-box1-a>span {
	padding-right: 20px;
}

.zhong-box1-b {
	top: 25px;
	position: absolute;
	left: 70%;
}

.zhong-box2-a {
	position: relative;
	top: 120px;
}

.hidden {
	display: none;
}